@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url('./assets/Ubuntu-Regular.ttf') format('truetype');
}

:root {
  --black: #000000;
  --black-op90: #000000e6;
  --black-op80: #000000cc;
  --black-op50: #00000080;
  --black-op20: #00000033;
  --black-op10: #0000001a;
  --white: #ffffff;
  --white-op90: #ffffffe6;
  --white-op80: #ffffffcc;
  --white-op50: #ffffff80;
  --white-op20: #ffffff33;
  --white-op10: #ffffff1a;
  --red: #e74c3c;
  --red-op80: #e74c3ccc;
  --blue: #3498db;
  --blue-op80: #3498dbcc;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu';
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: clamp(2rem, 1rem + 2vw, 3rem);
}

h2 {
  font-size: clamp(1.75rem, 0.875rem + 1.5vw, 2.75rem);
}

h3 {
  font-size: clamp(1.5rem, 0.75rem + 1vw, 2.5rem);
}

h4 {
  font-size: clamp(1.25rem, 0.625rem + 0.75vw, 2.25rem);
}

p,
a,
span {
  font-size: 1rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: inherit;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
}

input {
  cursor: text;
}

#root {
  width: 100%;
  height: 100%;
}

.btn {
  border: 0;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 2px 4px 0 var(--black-op20);
  display: flex;
  justify-content: center;
  align-items: center;
}
